<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% include ./partials/head.ejs %>
</head>
<body>
     <div class="container">
     <% include ./partials/header.ejs %>
     <div class="row">
    
       <a href="/dockit/new"><i class="far fa-plus-square"></i></a>
       </div>
      
          <%entry.forEach((entry,index)=>{%>
        <div class="row">
        <div class="four columns">

        <a href="/dockit/<%=entry._id%>"><h4><%=entry.date%></h4>
              <span>distance</span> 
             <h4><%=entry.distance%></h4>
             <p>kilometes</p> 

            
             <span>zone</span>
            <h5><%=entry.zone%></h5></a>
            
             <form action="/dockit/<%= entry._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
            <a href="/dockit/<%=entry._id%>/edit"><i class="fas fa-pen-square"></i></a>
            </form>
           </div> 
       
     
          <%})%>
          </div>
      </div>

        
</body>
</html>