<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% include ./partials/head.ejs %>
</head>
<body>
     <div class="container">
     <% include ./partials/header.ejs %>
     <span>row.&nbsp record. &nbsp get faster.</span>
     <div class="row">
    
       <a href="/dockit/new"><i class="far fa-plus-square"></i></a>
       </div>
      
          <%entry.forEach((entry,index)=>{%>
        <div class="row">
        <div class="four columns">

        <a href="/dockit/<%=entry._id%>">
              <span>distance</span> 
             <h2><%=entry.distance +'km'%></h2>
    
             <span>zone</span>
            <h5><%=entry.zone%></h5>
            <%if(entry.onWater === true) {%>
            <i class="fas fa-water"></i>
            <%}%>
            <%if(entry.onLand === true) {%>
            <i class="fas fa-dumbbell"></i>
            <%}%>
            
            
            </a>
            <div class="btns">
             <form action="/dockit/<%= entry._id %>?_method=DELETE" method="POST">
            <input class="button-primary" style="background:#0A78BF;" type="submit" value="X"/>
            </form>
            <form action="/dockit/<%=entry._id%>/edit">
            <input class="button-primary" style="background:#0A78BF;" type="submit" value="edit"/>
            </form>
            </div>
            
            
           </div> 
       
     
          <%})%>
          </div>
      </div>

        
</body>
</html>